@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.heading {
  margin-left: 100px;
  color: rgb(16, 17, 17);
}
h1 {
  color: #ff6700;
  font-family: 'Satisfy', cursive;
}
body {
  background-color: white;
}

#languages {
  background-color: #ff6700;
  color:white;
  border:1px #ff6700;
  border-radius: 4px;
  height: 2em;
  width: 9em;
}

.inputText{
  box-shadow: 0 0 10px #e6e6e6;
  background-color: #f2f2f2;
  
}

#inputText {
  height:100px;
  width: 100%;
  resize: none;
  border:2px ;
  border-radius: 3px;
  
}

#resetButton{
  background-color: #ff6700;
  color: #ffffff;
  border:1px #ff6700;
  height: 2em;
  width: 5em;
  border-radius:4px;
  
}

#submitButton{
  background-color: #ff6700;
  color: #ffffff;
  border:1px #ff6700;
  border-radius: 4px;
  height: 2em;
  width: 5em;
  
}

#editButton{
  
  background-color: #ff6700;
  color: #ffffff;
  border:1px #ff6700;
  height: 2em;
  width: 5em;  
  border-radius: 4px;  
  float: right;
}

.btn_centre{
  margin-left:120px ;
  
}

.outputText{
  box-shadow: 0 0 10px #e6e6e6;
  background-color: rgb(242,242,242);
}

#outputText {
  height:100px;
  width: 100%;
  resize: none;
  border:2px;
  border-radius: 3px;
}