@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet");
:root {
  --editor-border: #818181;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  font-family: "Satisfy", cursive;
  margin-left: 10%;
  font-weight: bold;
  color: #eff5fa;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #252b42;

  /* background-size: cover; */
}

::placeholder {
  color: rgb(223, 218, 218);
}
#inputtext {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  color: white;
  background-color: #2d344d;
  padding: 1%;
  border: 0.5px solid #2d344d;
}

.top {
  height: 6%;
  margin-top: 0px auto;
  margin-bottom: 0px;
  background-color: #252b42;
  background-position: 10px;
  box-shadow: 0 0 12px #e6e6e6;
}
.logo {
  margin-top: 3px;
}

.btn {
  width: 95%;
  color: white;
  border: 1px solid;
  margin-bottom: 5px;
  font-family: "Roboto";
}
.btn:hover {
  background-color: #232b41 !important;
  color: #2da2e7 !important;
}

.editor {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #000;
  color: #94acff;
}

.editorwrapper {
  background-color: #232b41;
  box-shadow: 0 0 15px #e6e6e6;
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;

  padding: 1em;
  border-radius: 4px;
}

.editorBody {
  flex: 1;
}

.editorFooter {
  display: flex;
}

.editorFooterLeft {
  margin-top: -1%;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
}

.editorFooterRight {
  flex: 1;

  overflow: hidden;
}

.editorBtn {
  width: 13vh;
  margin: 2vh;
  border: 1px;
  padding: 0.5em;
  border: #575757;
  background-color: #232b41;
  border-radius: 5px;
  background-color: white;
}

#input {
  width: 100%;
  resize: none;
  color: white;
  border: 1px solid rgb(242, 242, 242);
  background-color: #2d344d;
  height: 100%;
  padding: 1%;
}
#outputtext {
  width: 100%;
  resize: none;
  color: white;
  border: 1px solid rgb(242, 242, 242);
  background-color: #2d344d;
  height: 100%;
  padding: 1%;
}

.input {
  width: 100%;
  height: 37%;
  margin-top: 0.9em;
  overflow: auto;
  border-radius: 4px;
}

.editorCode {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 2px;
  background-color: #2d344d;
  border: 0.5px solid #333;
}
.editorConsoleLogs {
  margin-top: 1%;
  width: 37%;
}
#runBtn {
  color: #2da2e7;
  font-weight: bolder;
  background-color: #2d344d;
  border: 1px solid #2da2e7;
}
#resetBtn {
  color: #2da2e7;
  font-weight: bolder;
  background-color: #2d344d;
  border: 1px solid #2da2e7;
}
