node_modules/
.DS_Store
Python/input.txt
Python/output.txt
Python/code.py
Cpp/input.txt
Cpp/output.txt
Java/input.txt
Java/output.txt
Cpp/binary
Cpp/code.cpp
Java/Main.class
Java/code.java
.env
package-lock.json